<div class="container mt-5">
  <div class="row">
    <div
      class="col-md-4 d-flex justify-content-center align-items-center"
      style="height: 100%"
    >
      <img
        [src]="'data:image/jpeg;base64,' + book?.coverImage"
        alt="{{ book?.bookTitle }}"
        class="img-fluid"
        style="max-height: 100%; max-width: 100%; object-fit: contain"
      />
    </div>

    <div class="col-md-8">
      <h2>{{ book?.bookTitle }}</h2>
      <p>
        Book by <strong>{{ book?.author }}</strong>
      </p>
      <p><strong>Genres:</strong> {{ book?.categories }}</p>
      <p><strong>Pages:</strong> {{ book?.pageCount }}</p>
      <p><strong>Price:</strong> {{ book?.price | currency : "INR" }}</p>
      <p><strong>Description:</strong></p>
      <p>{{ book?.description }}</p>
      <button
        *ngIf="!inCart"
        class="btn btn-primary"
        (click)="addToCart(book!)"
      >
        Add to Cart
      </button>
      <div
        *ngIf="inCart"
        class="btn-group border border-secondary"
        role="group"
      >
        <button class="btn btn-danger" (click)="decrementCartQuantity()">
          -
        </button>
        <span class="btn align-self-center">
          {{ cartQuantity }}
        </span>
        <button class="btn btn-success" (click)="incrementCartQuantity()">
          +
        </button>
      </div>
    </div>
  </div>
</div>
